#loginContainer {
    margin-top: 100px;
}
#loginBtn, #signupBtn {
    width: 100%;
}
.logout {
    margin-top: 50px;
}
.userName {
    margin-top: 3%;
    margin-right: 12%;
}
#loginFormLocal {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}